*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: 78em) {
		font-size: 55%;
	}
	@media only screen and (max-width: 66.5em) {
		font-size: 50%;
	}
	@media only screen and (max-width: 58.5em) {
		font-size: 45%;
	}
}

body {
	font-family: var(--font-primary);
	color: var(--color-grey-light-2);
	font-weight: 400;
	line-height: 1.6;
}

.container {
	width: 100vw;
}
