:root {
	--color-primary-gold: #d5966c;
	--color-black: #151515;
	--color-white: #fff;
	--color-grey: #444444;

	--font-primary: "Big Shoulders Display", cursive;

	--size-tablet {
		max-width: 43.5em;
	}
}
